.cartPizza{
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #F4F4F4;

  display: flex;
  align-items: center;
  justify-content: space-between;

  b{
    font-size: 22px;
  }

  button{
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;

    svg{
      circle, path{
        cursor: pointer;
      }
    }
  }
}

.pizza{
  width: 375px;
  height: 80px;
  display: flex;
  align-items: center;

  img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  
  @media (max-width: 1080px) {
    width: 200px;
  }
}

.title{
  display: flex;
  flex-direction: column;

  h3{
    font-size: 22px;
    margin-bottom: 2px;
  }

  p{
    display: inline;
    font-size: 18px;
    color: #8D8D8D;
  }
}

.controls{
  width: 102px;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button{
    svg{
      circle,path{
        transition: all .3s ease-in-out;
      }
    }

    &:hover{
      svg{
        circle{
          fill: #FE5F1E;
        }
        path{
          fill: #FFFFFF;
        }
      }
    }

    &:disabled{
      svg{
        circle{
          fill: #FFFFFF;
          stroke: #9a9a9a;
        }
        path{
          fill: #9a9a9a;
        }
      }
    }
  }
}

.removeBtn{
  margin-right: 20px;

  svg{
    circle, path{
      transition: all .3s ease-in-out;
    }
  }

  &:hover{
    svg{
      circle{
        fill: #ff5555;
        stroke: #ff5555;
      }
      path{
        fill: #FFFFFF;
      }
    }
  }
}

@media (max-width: 700px) {
  .cartPizza{
    b {
      font-size: 18px;
    }

    button{
      width: 26px;
      height: 26px;
      svg{
        width: 26px;
        height: 26px;
      }
    }
  }

  .title{
    h3{
      font-size: 18px;
    }

    p{
      display: block;
      font-size: 16px;
    }
  }
}

@media (max-width: 550px) {
  .cartPizza{
    flex-wrap: wrap;
  }

  .pizza {
    width: 150px;
    order: 0;

    img {
      width: 76px;
      height: 76px;
      margin-right: 10px;
    }
  }

  .controls{
    order: 1;
    justify-content: start;
    column-gap: 2vw;
    width: unset;
  }
}