.categories{
  ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 9px;

    li{
      padding: 14px 30px;
      background-color: #F9F9F9;
      color: #2C2C2C;
      height: 46px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      transition: all .1s ease-in-out;

      &.active{
        background-color: #FE5F1E;
        color: #f1f1f1;
        box-shadow: 0 0 0;
      }

      &:hover:not(.active){
        background-color: #a5a4a4;
        color: #f1f1f1;
        box-shadow: 0 0 0;
      }
    }
  }
}