.header{
    margin-bottom: 40px;

    hr{
        margin: 0 12px;
        border: 1px solid #F6F6F6;
    }
}

.content{
    padding: 50px 38px 40px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        // for REACT LINKS
        text-decoration: none;
    }
}

.info{
    a{
        display: flex;
        align-items: center;
    }

    img{
        margin-right: 17px;
        cursor: pointer;
    }
}

.title{
    h1, p {
        font-family: "Noticia Text", serif;
    }

    h1{
        font-weight: 800;
        font-size: 24px;
        text-transform: uppercase;
        color: #181818;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        color: #7B7B7B;
    }
}

.cartButton{
    position: relative;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    border: none;
    padding: 15px 23px;

    background: #FE5F1E;
    border-radius: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    p,span,svg {
        cursor: pointer;
    }

    span{
        position: absolute;
        left: 100px;
        content: "";
        height: 25px;
        width: 1px;
        background: rgba(255, 255, 255, 0.25);
    }

    svg{
        position: absolute;
        right: 45px;
    }

    p{
        color: #FFFFFF;
        font-size: 16px;
    }

    &:hover{
        background: lighten(#FE5F1E, 5%);
        transform: scale(1.02);
    }

    &:active{
        background: darken(#FE5F1E, 5%);
    }
}