.pizzaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;

    img{
        width: 240px;
        height: 240px;
        margin-bottom: 11px;
    }

    h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 19px;
    }
}

.filtersContainer{
    width: 280px;
    height: 85px;
    padding: 7px 5px;
    margin-bottom: 17px;

    background: #F3F3F3;
    border-radius: 10px;

    ul{
        list-style: none;
        display: flex;
        margin-bottom: 7px;
        column-gap: 7px;

        li{
            font-size: 14px;
            font-weight: bold;
            height: 32px;
            padding: 6px 10px 15px 10px;
            width: 100%;
            text-align: center;
            transition: background-color 0.3s, transform 0.3s;
            cursor: pointer;

            &.active{
                background: #FFFFFF;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                transform: scale(1.02);
            }
        }
    }
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;

    b {
        font-size: 22px;
    }

    button {
        position: relative;
        width: 132px;
        height: 40px;
        background: #FE5F1E;
        border: 1px solid #FE5F1E;
        border-radius: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        p, svg, span {
            cursor: pointer;
        }

        p {
            position: relative;
            font-size: 16px;
            font-weight: bold;
            color: #FFFFFF;
            transition: transform 0.4s ease-in-out, left 0.7s ease-in-out;
            flex: 1;
            left: 10px;
        }

        svg {
            position: absolute;
            top: 14px;
            left: 18px;
            transition: opacity .3s ease-in-out;
            opacity: 0;
        }

        span{
            position: relative;
            width: 26px;
            height: 26px;
            visibility: hidden;
            transition: transform 0.8s cubic-bezier(0, 0.42, 0.5, 0.96);
            transform: translateX(20px);
        }

        &:hover {
            background-color: lighten(#FE5F1E, 6%);

            p {
                transform: translateX(5px);
            }

            svg {
                opacity: 1;
            }
        }

        &:active {
            background-color: darken(#FE5F1E, 4%);
        }

        &.withValueBtn {

            p{
                left: 6px;
            }

            span {
                border-radius: 50%;
                margin-right: 16px;
                background-color: #FFFFFF;
                transform: translateX(0px);;
                visibility: visible;

                p {
                    margin: 2px auto;
                    left: 0;
                    font-size: 16px;
                    color: #FE5F1E;
                    font-weight: bold;
                    transition: transform 1s ease-in-out;
                }
            }

            &:hover {
                p {
                    transform: translateX(5px);
                }

                span {
                    p {
                        transform: translateX(0px);
                        animation: text-blink 2s infinite;
                    }
                }
            }
        }
    }
}

@keyframes text-blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}