@import "mixin";

* {
    @include clear();
}

body{
    background-color: #FFDF8C;
    height: 100%;
    width: 100%;
}

.wrapper{
    width: 100 - 10vw;
    margin: 6vh 5vw 0 5vw;
    min-height: 100 - 6vh;

    background-color: #FFFFFF;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}
